# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Misc
.DS_Store
.env
.npm
*.log

# Editors
.vscode/
.idea/

# Flutter/Android
**/.gradle/
**/build/
**/app/build/
